* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #110D18;
    overflow: hidden;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("./src/noise.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
}

video {
    object-fit: cover;

    opacity: 0;
}

.response {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 2rem;
    text-align: center;
    text-wrap: balance;
    width: 30%;
    pointer-events: none;
    color: #98A886;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.circle {
    position: absolute;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    transition: opacity 2s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;
}

#purpleCircle {
    background-color: #39304A;
    box-shadow: 0 0 10px 5px #39304a,
        0 0 20px 10px #39304a,
        0 0 30px 15px #39304a,
        0 0 40px 20px #39304a;
    opacity: 0;
}

#greenCircle {
    background-color: #98A886;
    box-shadow: 0 0 10px 5px #98A886,
        0 0 20px 10px #98A886,
        0 0 30px 15px #98A886,
        0 0 40px 20px #98A886;
    opacity: 0;
}



#glitter {
    background-image: url(./src/glitter2.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0;

}

#sand {
    background-image: url(./src/sand.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

.image.circle {
    box-shadow: inset 0 0 10px 5px #201B29,
        inset 0 0 20px 10px #201B29,
        inset 0 0 30px 15px #201B29,
        inset 0 0 40px 20px #201B29,
        0 0 10px 5px #201B29,
        0 0 20px 10px #201B29;
}

/* scroll styling */
#scrollContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    overflow: hidden;
}

.scroll {
    position: absolute;
    width: 300px;
    height: auto;
    background-image: url('./src/feather.webp');
    background-size: 100% 100%;
    padding: 40px 30px;
    transform: scale(0);
    opacity: 0;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        opacity 1.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: sepia(0.5) drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
}



.scroll p {
    font-family: 'Cinzel Decorative', cursive;
    color: #FEFAE0;
    font-size: 1.2rem;
    line-height: 1.6;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 10px;
    opacity: 1;
}

.scroll.active {
    transform: scale(1);
    opacity: 0.6;
}

.scroll.fade-out {
    opacity: 0;
    transform: scale(0.8) rotate(5deg);
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}