body{
    width:100vw;
    height:100vh;
    margin:0;
}

footer{
    position:absolute;
    bottom:0;
    left:5vw;
}

#backgroundImage {
    background-image: url("./src/door.jpg");
    background-size: cover;
    background-position: center;
    overflow:hidden;

    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -5;
    top: 0;

    transition: transform 2s ease-in-out;
}

#doorwayLink {
    position: absolute;
    opacity: 0;
    bottom: 38vh;
    right: 33vw;
    width: 100px;
    height: 100px;
    z-index: 10;
}

#hitoIntro {
    position:absolute;
    opacity: 0;
    top:30vh;
    left:20vw;

    text-wrap: wrap;
    font-size: 1em;
    transition: opacity 0.2s ease-in-out, font-size 3s ease-in-out;
}